<table class="table table-condensed table-hover my-table">
    <thead>
    <tr>
        <th width="30%">Name</th>
        <th width="10%">Downloaded</th>
        <th width="15%">Progress</th>
        <th widht="15%">Download Speed</th>
        <th width="15%" class="hidden-phone">Upload Speed</th>
        <th width="15%" class="hidden-phone">Estimated</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="torrent in torrents | filter:search | orderBy:'name'">
        <td>{{torrent.name}}</td>
        <td>{{torrent.downloaded | size}}</td>
        <td>
            <div class="progress progress-striped active">
                <div class="bar" style="width: {{torrent.progress}}%"></div>
            </div>
        </td>
        <td>{{torrent.downloadRate | speed }}</td>
        <td class="hidden-phone">{{torrent.uploadRate | speed}}</td>
        <td class="hidden-phone">{{torrent.estimated}}</td>
    </tr>
    <tr ng-show="!torrents.length">
        <td colspan="6">Click "Add torrent" to download...</td>
    </tr>
    </tbody>
</table>