<form id="addTorrent">
    <div class="control-group" ng-class="{error: addTorrent.url.$invalid}">
        <input class="input-block-level" name="url" ng-model="torrent.url" placeholder="URL" required>
        <span ng-show="addTorrent.url.$error.required" class="help-inline">Required</span>
        <span ng-show="addTorrent.url.$error.url" class="help-inline">Not a URL</span>
    </div>

    <br>

    <div style="text-align: center">
        <a href="#/" class="btn span2"> Cancel </a>
        <button ng-click="save()" ng-disabled="addTorrent.$invalid" class="btn btn-success span2"> Add</button>
    </div>
</form>