body {
    box-sizing: inherit;
    text-align: center;
    background-color: rgba(200, 255, 150, 1);
}

header {
    text-align: center;
}

#wrapper {
    margin: auto auto;
    width: 800px;
    text-align: left;
}

.table th,
.table td {
    border-top: 1px solid #aaaaaa;
}

