body {
    box-sizing: inherit;
    text-align: center;
    background: #A0F06C;
}

header {
    text-align: center;
}

#wrapper {
    margin: auto auto;
    text-align: left;
}

.table th,
.table td {
    border-top: 1px solid #aaaaaa;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
    background-color: rgba(200, 200, 200, 0.3);
    border-radius: 0px 0px 0px 0px;
}

.my-table {
    margin-top: 10px;
    background-color: rgba(200, 200, 200, 0.5);
    border-radius: 18px 5px 18px 5px;
}

.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
    color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #E9003A;
    *background-color: #E9003A;
    background-image: -moz-linear-gradient(top, #F43D64, #E9003A);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F43D64), to(#E9003A));
    background-image: -webkit-linear-gradient(top, #F43D64, #E9003A);
    background-image: -o-linear-gradient(top, #F43D64, #E9003A);
    background-image: linear-gradient(to bottom, #F43D64, #E9003A);
    background-repeat: repeat-x;
    border-color: #E9003A #E9003A #B9000A;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F43D64', endColorstr='#E9003A', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    color: #ffffff;
    background-color: #E9003A;
    *background-color: #AE2C4C;
}

.btn-primary:active,
.btn-primary.active {
    background-color: #970026  \9;
}

.btn-group.open .btn-primary.dropdown-toggle {
    background-color: #AE2C4C;
}